*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.font-work-sans {
  font-family: "Work Sans", sans-serif;
}
.navbar {
  padding: 20px 0 20px 0px;
}
.nav-link {
  color: black;
  font-weight: 600;
}
.social-icons {
  font-size: 18px;
}
#search {
  margin-left: 20px;
}
.post_info {
  font-size: 0.9rem;
}
.post_box {
  font-size: 0.9rem;
  font-weight: 600;
}
#newsletter_input {
  padding: 10px;
  width: 60%;
  outline: none;
  border: 1px solid gray;
}
#btn_submit {
  padding: 11px 34px;
  background-color: black;
  color: white;
  margin-left: -5px;
  font-weight: bold;
  border: none;
}
